<template>
    <div class="component">
        <router-link :to="{ name: 'product.index' }" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Back</router-link>
        <form @submit.prevent="create">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Brand</label>
                        <input type="text" class="form-control" v-model="data.brand">
                        <span class="help-block" v-if="errors.brand">{{ errors.brand[0] }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Model</label>
                        <input type="text" class="form-control" v-model="data.model">
                        <span class="help-block" v-if="errors.model">{{ errors.model[0] }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fuel</label>
                        <select class="form-control" v-model="data.fuel">
                            <option value="gasoline">Gasoline</option>
                            <option value="electric">Electric</option>
                            <option value="diesel">Diesel</option>
                            <option value="hydrogen">Hydrogen</option>
                        </select>
                        <span class="help-block" v-if="errors.fuel">{{ errors.fuel[0] }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" v-model="data.price">
                        <span class="help-block" v-if="errors.price">{{ errors.price[0] }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-12">Image</label>
                            <div class="col-md-12">
                                <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload()">
                            </div>
                            <div class="col-md-12">
                                <span class="help-block" v-if="errors.file">{{ errors.file[0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </center>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                data: {},
                errors: {},
                file: ''
            }
        },
        methods: {
            create(){
                let formData = new FormData();

                if(this.data.brand === undefined) this.data.brand = '';
                if(this.data.model === undefined) this.data.model = '';
                if(this.data.fuel === undefined) this.data.fuel = '';
                if(this.data.price === undefined) this.data.price = '';

                formData.append('brand', this.data.brand);
                formData.append('model', this.data.model);
                formData.append('fuel', this.data.fuel);
                formData.append('price', this.data.price);
                formData.append('file', this.file);

                let uri = '/api/v1/product/create';
                this.axios.post(
                    uri,
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then((response) => {
                    this.$router.push(
                        {
                            name: 'product.show',
                            params: { id: response.data.data.id },
                        },
                    );
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
            onChangeFileUpload(){
                this.file = this.$refs.file.files[0];
            }
        },
        mounted() {
            console.log('Component mounted.');
        }
    }
</script>


