<template>
    <div class="component">
        <router-link :to="{ name: 'product.create' }" class="btn btn-primary"><i class="fa fa-plus"></i> Create</router-link>
        <vuetable ref="vuetable"
                  api-url="/api/v1/product"
                  :fields="['brand', 'model', 'fuel', 'price', 'actions']"
                  :css="css.table"
                  :show-sort-icons="true"
                  :per-page="10"
                  :sort-order="sortOrder"
                  data-path="data"
                  pagination-path="links.pagination"
                  @vuetable:pagination-data="onPaginationData"
        >
            <template slot="actions" slot-scope="props">
                <div class="table-button-container">
                    <router-link :to="{ name: 'product.show', params: {id: props.rowData.id } }" class="btn btn-sm btn-success"><i class="fa fa-search"></i></router-link>&nbsp;&nbsp;
                </div>
            </template>
        </vuetable>
        <vuetable-pagination ref="pagination"
                             :css="css.pagination"
                             class="pull-right"
                             @vuetable-pagination:change-page="onChangePage">
        </vuetable-pagination>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from "../configs/VuetablePaginationBootstrap4.vue";
    import CssConfig from "../configs/VuetableBootstrap4Config.js";

    export default {
        components: {
            Vuetable,
            VuetablePagination
        },
        methods: {
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page)
            },
            showRow(rowData){
                alert("You clicked show on"+ JSON.stringify(rowData))
            }
        },
        data() {
            return {
                css: CssConfig,
                fields: [
                    {
                        name: "brand",
                        title: 'Brand',
                        sortField: "brand",
                    },
                    {
                        name: "model",
                        title: 'Model',
                        sortField: "model"
                    },
                    {
                        name: "fuel",
                        title: 'Fuel',
                        sortField: "fuel"
                    },
                    {
                        name: "price",
                        title: 'Price',
                        sortField: "price"
                    },
                    {
                        name: "actions",
                        titleClass: "center aligned",
                        dataClass: "center aligned",
                        width: "15%",
                    },
                ],
                sortOrder: [
                    { field: 'brand', direction: 'asc' }
                ],
            };
        },
    }
</script>
