<template>
    <div class="component">
        <router-link :to="{ name: 'product.index' }" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Back</router-link>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Brand</label>
                    <input type="text" class="form-control" v-model="data.brand" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Model</label>
                    <input type="text" class="form-control" v-model="data.model" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fuel</label>
                    <input type="text" class="form-control" v-model="data.fuel" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" v-model="data.price" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-12">Image</label>
                        <div class="col-md-12">
                            <img :src="data.file" width="300">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4>Comments</h4>
        <form @submit.prevent="postComment">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="commentForm.name">
                        <span class="help-block" v-if="errors.name">{{ errors.name[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea class="form-control" v-model="commentForm.comment"></textarea>
                        <span class="help-block" v-if="errors.comment">{{ errors.comment[0] }}</span>
                    </div>
                    <div class="form-group">
                        <center>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                        </center>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-group" v-if="data.comments">
                        <div v-for="comment in data.comments" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ comment.name }}</h5>
                            </div>
                            <p class="mb-1">{{ comment.comment }}</p>
                            <div class="float-md-right">
                                <button type="button" v-on:click="updatePoint(1, comment.id)" class="btn btn-xs btn-success"><i class="fa fa-arrow-up"></i></button>
                                <button class="btn btn-xs" disabled>{{ comment.point }}</button>
                                <button type="button" v-on:click="updatePoint(-1, comment.id)" class="btn btn-xs btn-danger"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group" v-else>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <p class="mb-1">No comments yet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                data: {},
                commentForm: {},
                errors: {},
            }
        },
        methods: {
            postComment(){
                let uri = `/api/v1/product/comment/${this.$route.params.id}`;
                this.axios.post(
                    uri,
                    this.commentForm
                ).then((response) => {
                    this.refreshComponent();
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
            updatePoint(p, id){
                let uri = `/api/v1/product/comment/${id}/update-point`;
                this.axios.post(
                    uri,
                    {point: p}
                ).then((response) => {
                    this.refreshComponent();
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
            refreshComponent() {
                let uri = `/api/v1/product/show/${this.$route.params.id}`;
                this.axios.get(uri).then((response) => {
                    this.data = response.data.data;
                });
            },
        },
        created() {
            let uri = `/api/v1/product/show/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.data = response.data.data;
            });
        },
        mounted() {
            console.log('Component mounted.');
        }
    }
</script>


